---
import Layout from '../layouts/default.astro';
---

<Layout
	title="Contact"
	description="How to contact me."
	heroImage="/placeholder-about.jpg"
>
	<p>Contact me on email preferably.
	</p>
	<p>That would be me@fredhawk.com</p>
</Layout>

